<form>
    <!--<div>
        <input type="text" [(ngModel)]="userName" placeholder="User Name" name="userName" />
    </div>
    <div>
        <input type="password" [(ngModel)]="pwd" placeholder="Password" name="password" />
    </div>-->
    <div>
        <button type="button" (click)="attemptLogin()">Log In</button>
    </div>

    <div *ngIf="token?.access_token">
        <p style="color: darkgreen">Logged in</p>
    </div>
    <div *ngIf="!token?.access_token">
        <p style="color: darkred">NOT logged in</p>
    </div>

</form>

<div>
    <button type="button" style="" (click)="getValues()">Get Values</button>
    <h3>Orders</h3>
    <ul>
        <li *ngFor="let order of orders | async">
            {{order.orderId}} - {{order.orderDescription}}
        </li>
    </ul>
    <h3>Messages</h3>
    <div *ngFor="let msg of messages">
        {{msg}}
    </div>
</div>
